.topbarSection {
  .contactInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    li {
      span {
        margin-right: 10px;
      }

      a {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        transition: color 0.3s ease;

        &:hover {
          transition: color 0.3s ease;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      &:last-child {
        background: #fff;
        height: 35px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 50px;
        padding: 0px 20px;

        span {
          margin-right: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #263358;
        }

        a {
          font-weight: 600;
          color: #263358;
          transition: color 0.3s ease;

          &:hover {
            transition: color 0.3s ease;
            color: #ca0101;
          }
        }
      }
    }
  }

  .socailInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      a {
        transition: color 0.3s ease;

        &:hover {
          transition: color 0.3s ease;

          svg {
            circle {
              fill: #ca0101;
            }

            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .sidePanel {
    z-index: 99;
    width: 60px;
    height: auto;
    position: fixed;
    top: 40%;
    right: 40px;
    display: flex;
    flex-direction: column;
    transform: translate(0px, -40%);

    .panelItem {
      position: relative;
      margin-bottom: 10px;
      cursor: pointer;
      opacity: 0;
      animation: slideIn 1s ease forwards;

      a,
      div {
        .panelIcon {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.35s ease;

          svg {
            width: auto;
            height: 25px;
          }
        }

        span {
          background: #3a3b3e;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0px, -50%);
          font-size: 13px;
          color: #fff;
          line-height: 13px;
          text-align: center;
          border-radius: 100px;
          padding: 0px 20px;
          opacity: 0;
          visibility: hidden;
          transition: all 0.35s ease;
          white-space: nowrap;
        }
      }

      &:hover,
      &.autoHover {
        .panelIcon {
          background: #3a3b3e;
        }


        span {
          opacity: 1;
          visibility: visible;
          transform: translate(-65px, -50%);

        }
      }
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(80px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .topbarSection {
    .sidePanel {
      width: 55px;
      top: 50%;
      right: 30px;

      .panelItem {

        a,
        div {
          .panelIcon {
            width: 55px;
            height: 55px;

            svg {
              height: 22px;
            }
          }

          span {
            height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .topbarSection {
    .sidePanel {
      width: 55px;
      top: 50%;
      right: 30px;

      .panelItem {

        a,
        div {
          .panelIcon {
            width: 55px;
            height: 55px;

            svg {
              height: 22px;
            }
          }

          span {
            height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
  .topbarSection {
    .sidePanel {
      width: 55px;
      top: 50%;
      right: 30px;

      .panelItem {

        a,
        div {
          .panelIcon {
            width: 55px;
            height: 55px;

            svg {
              height: 22px;
            }
          }

          span {
            height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
  .topbarSection {
    .sidePanel {
      width: 55px;
      top: 50%;
      right: 30px;

      .panelItem {

        a,
        div {
          .panelIcon {
            width: 55px;
            height: 55px;

            svg {
              height: 22px;
            }
          }

          span {
            height: 35px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
  .topbarSection {
    .sidePanel {
      width: 50px;
      top: 50%;
      right: 20px;

      .panelItem {

        a,
        div {
          .panelIcon {
            width: 50px;
            height: 50px;

            svg {
              height: 20px;
            }
          }

          span {
            height: 30px;
            font-size: 11px;
          }
        }

        &:hover,
        &.autoHover {
          span {
            transform: translate(-55px, -50%);

          }
        }

      }
    }
  }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
  .topbarSection {
    .sidePanel {
      width: 40px;
      top: 50%;
      right: 15px;

      .panelItem {

        a,
        div {
          .panelIcon {
            width: 40px;
            height: 40px;

            svg {
              height: 16px;
            }
          }

          span {
            height: 25px;
            padding: 0px 10px;
            font-size: 10px;
          }
        }

        &:hover,
        &.autoHover {
          span {
            transform: translate(-45px, -50%);

          }
        }

      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
  .topbarSection {
    .sidePanel {
      width: 40px;
      top: 50%;
      right: 5px;

      .panelItem {

        a,
        div {
          .panelIcon {
            width: 40px;
            height: 40px;

            svg {
              height: 16px;
            }
          }

          span {
            height: 25px;
            padding: 0px 10px;
            font-size: 10px;
          }
        }

        &:hover,
        &.autoHover {
          span {
            display: none;
          }
        }

      }
    }
  }
}