.contactWapper {
    padding: 25px;
    position: relative;

    .serviceTitle {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 25px;
        color: #656d4a;

    }

    .calendarForm {
        flex: 0 0 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;

        input {
            flex: 0 0 calc(50% - 5px);
            height: 50px;
            color: #3a3b3e;
            border-radius: 5px;
            margin-bottom: 5px;
            padding-left: 10px;
            border: 1px solid #3a3b3e;
            outline: none;
            font-size: 14px;
        }


        select {
            flex: 0 0 calc(50% - 5px);
            height: 50px;
            color: #3a3b3e;
            border-radius: 5px;
            margin-bottom: 5px;
            border: 1px solid #3a3b3e;
            outline: none;
            padding-left: 10px;
            font-size: 14px;
        }

        textarea {
            width: 100%;
            height: 100px;
            color: #3a3b3e;
            border-radius: 5px;
            margin-bottom: 5px;
            border: 1px solid #3a3b3e;
            padding: 10px 0px 0px 10px;
            outline: none;
            font-size: 14px;
        }

        p {
            width: 100%;
            text-align: left;
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 20px;
        }

        button {
            width: 100%;
            height: 50px;
            background: #3a3b3e;
            border-radius: 5px;
            color: #fff;
            border: 0px;
            flex: 0 0 calc(50% - 10px);

            &:hover {
                background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
            }
        }
    }

    .closedBtn {
        position: absolute;
        top: -10px;
        right: -10px;
        cursor: pointer;
        z-index: 2;

        svg {
            width: auto;
            height: 30px;

            circle {
                fill: #656d4a;
            }

            path {
                fill: #fff;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .contactWapper {
        padding: 25px;

        .serviceTitle {
            font-size: 20px;

        }

        .calendarForm {
            flex: 0 0 70%;

            input {
                height: 45px;
                font-size: 13px;
            }

            select {
                height: 45px;
                font-size: 13px;
            }

            textarea {
                height: 90px;
                font-size: 13px;
            }

            p {
                font-size: 13px;
                margin-bottom: 5px;
            }

            button {
                height: 45px;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    .contactWapper {
        padding: 25px;

        .serviceTitle {
            font-size: 20px;

        }

        .calendarForm {
            flex: 0 0 70%;

            input {
                height: 45px;
                font-size: 13px;
            }

            select {
                height: 45px;
                font-size: 13px;
            }

            textarea {
                height: 90px;
                font-size: 13px;
            }

            p {
                font-size: 13px;
                margin-bottom: 5px;
            }

            button {
                height: 45px;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1299px) {
    .contactWapper {
        padding: 25px;

        .serviceTitle {
            font-size: 20px;

        }

        .calendarForm {
            flex: 0 0 70%;

            input {
                height: 45px;
                font-size: 13px;
            }

            select {
                height: 45px;
                font-size: 13px;
            }

            textarea {
                height: 90px;
                font-size: 13px;
            }

            p {
                font-size: 13px;
                margin-bottom: 5px;
            }

            button {
                height: 45px;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 900px) and (max-width:1099px) {
    .contactWapper {
        padding: 25px;

        .serviceTitle {
            font-size: 20px;

        }

        .calendarForm {
            flex: 0 0 70%;

            input {
                height: 45px;
                font-size: 13px;
            }

            select {
                height: 45px;
                font-size: 13px;
            }

            textarea {
                height: 90px;
                font-size: 13px;
            }

            p {
                font-size: 13px;
                margin-bottom: 5px;
            }

            button {
                height: 45px;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:899px) {
    .contactWapper {
        padding: 20px;

        .serviceTitle {
            font-size: 20px;

        }

        .calendarForm {
            flex: 0 0 70%;

            input {
                height: 45px;
                font-size: 13px;
            }

            select {
                height: 45px;
                font-size: 13px;
            }

            textarea {
                height: 90px;
                font-size: 13px;
            }

            p {
                font-size: 13px;
                margin-bottom: 5px;
            }

            button {
                height: 45px;
                font-size: 14px;
            }
        }
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
    .contactWapper {
        padding: 20px;

        .serviceTitle {
            font-size: 20px;

        }

        .calendarForm {
            flex: 0 0 70%;

            input {
                height: 45px;
                font-size: 13px;
            }

            select {
                height: 45px;
                font-size: 13px;
            }

            textarea {
                height: 90px;
                font-size: 13px;
            }

            p {
                font-size: 12px;
                margin-bottom: 5px;
            }

            button {
                height: 40px;
                font-size: 13px;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 575px) {
    .contactWapper {
        padding: 15px;

        .serviceTitle {
            font-size: 20px;

        }

        .calendarForm {
            flex: 0 0 70%;

            input {
                height: 40px;
                font-size: 13px;
                flex: 0 0 100%;
            }

            select {
                height: 40px;
                font-size: 13px;
                flex: 0 0 100%;
            }

            textarea {
                height: 80px;
                font-size: 13px;
            }

            p {
                font-size: 12px;
                margin-bottom: 5px;
            }

            button {
                height: 40px;
                font-size: 13px;
            }
        }
    }
}