.contactWapper {
    padding: 25px;

    .serviceTitle {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 25px;
        color: #656d4a;

    }

    .calendarForm {
        flex: 0 0 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;

        input {
            flex: 0 0 calc(50% - 5px);
            height: 50px;
            color: #3a3b3e;
            border-radius: 5px;
            margin-bottom: 5px;
            padding-left: 10px;
            border: 1px solid #3a3b3e;
            outline: none;
            font-size: 14px;
        }


        select {
            flex: 0 0 calc(50% - 5px);
            height: 50px;
            color: #3a3b3e;
            border-radius: 5px;
            margin-bottom: 5px;
            border: 1px solid #3a3b3e;
            outline: none;
            padding-left: 10px;
            font-size: 14px;
        }

        textarea {
            width: 100%;
            height: 100px;
            color: #3a3b3e;
            border-radius: 5px;
            margin-bottom: 5px;
            border: 1px solid #3a3b3e;
            padding: 10px 0px 0px 10px;
            outline: none;
            font-size: 14px;
        }

        p {
            width: 100%;
            text-align: left;
            font-size: 14px;
            margin-bottom: 5px;
            line-height: 20px;
        }

        button {
            width: 100%;
            height: 50px;
            background: #3a3b3e;
            border-radius: 5px;
            color: #fff;
            border: 0px;
            flex: 0 0 calc(50% - 10px);

            &:hover {
                background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
            }
        }
    }
}