.paymentContainer {
    padding: 25px;


    .serviceTitle {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 25px;
        color: #656d4a;

    }

    .paymentFrom {
        display: flex;
        justify-content: space-between;

        .calendarForm {
            flex: 0 0 70%;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;

            input {
                flex: 0 0 calc(50% - 5px);
                height: 50px;
                color: #3a3b3e;
                border-radius: 5px;
                margin-bottom: 5px;
                padding-left: 10px;
                border: 1px solid #3a3b3e;
                outline: none;
                font-size: 14px;
            }

            h5 {
                flex: 0 0 100%;
            }

            select {
                flex: 0 0 calc(50% - 5px);
                height: 50px;
                color: #3a3b3e;
                border-radius: 5px;
                margin-bottom: 5px;
                border: 1px solid #3a3b3e;
                outline: none;
                padding-left: 10px;
                font-size: 14px;
            }

            textarea {
                width: 100%;
                height: 100px;
                color: #3a3b3e;
                border-radius: 5px;
                margin-bottom: 5px;
                border: 1px solid #3a3b3e;
                padding: 10px 0px 0px 10px;
                outline: none;
                font-size: 14px;
            }

            p {
                width: 100%;
                text-align: left;
                font-size: 14px;
                margin-bottom: 5px;
                line-height: 20px;
            }

            button {
                width: 100%;
                height: 50px;
                background: #3a3b3e;
                border-radius: 5px;
                color: #fff;
                border: 0px;
                flex: 0 0 calc(50% - 10px);

                &:hover {
                    background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
                }
            }
        }

        .paymentOut {
            flex: 0 0 25%;

            .totalAmount {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #ccc;
                padding: 15px;
                border-radius: 5px;

                .tit {
                    font-size: 17px;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                .price {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

            .checkoutBtn {
                width: 100%;
                height: 45px;
                background: #3a3b3e;
                border-radius: 5px;
                color: #fff;
                border: 0px;
                margin-top: 10px;
                text-transform: uppercase;

                &:hover {
                    background: linear-gradient(90deg, #656d4a 0%, #c4d38f 156.39%);
                }
            }

            .loadingText {
                font-size: 13px;
                text-align: center;

            }
        }
    }

}